<div class="row col-3">
<div class="slot-machine">
    <div class="reel">
        <div class="reel">{{reels[0]['image']}}</div>
    </div>
    <div class="reel">
        <div class="reel">{{reels[1]['image']}}</div>
    </div>
    <div class="reel">
        <div class="reel">{{reels[2]['image']}}</div>
    </div>
    <audio preload="auto" src="assets/sonidomaquina.mp3" autoplay  ></audio> 
    <button id="spin-button" (click)="spin(); ">GIRAR</button>
    <div *ngIf="isWinner" class="winner">Felicidades Has Ganado {{winnings}} coins</div>
  </div>
  <div>
    <img [src]= "[rodillo1['image']]" class="spin">
    <img [src]= "[rodillo2['image']]" class="spin">
    <img [src]= "[rodillo3['image']]" class="spin">
  </div>

  <div>
    TIENES {{spot}} COINS PARA JUGAR
  </div>

  <input type="number" id="cargador" value="">
  <button (click)="cargarCreditos()">Cargar Saldo</button>
</div>
